* {
margin: 0;
padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 100%;
    height: 120vh;

}

.miLogo {
    width: 100px;
}

.miFondo {
    background-color: white;
}

header {
border-top: solid 15px red;

}


.miLink:hover {
    background-color: red;
    color: white;
}

header nav ul li {
    text-transform: uppercase;
}


.banner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(../img/bannercam.jpg);
    background-size: cover;
    padding: 150px;
    
}

.banner h1 {
font-size: 30px;
color: white;
}

.banner p {
    font-size: 15px;
    color: white;
}

.button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px;
}

.contenedorNoticias {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 50px;
    margin: 30px 0;
    height: 100%;
  
    
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #fafafa;
    border-radius:5px ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.imagenNoticia {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 15px;
}   

.fechaNoticia {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
 
.descripcionNoticia {
    margin-bottom: 15px;
}

.vermasBtn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    cursor:pointer;
}

footer {
    background-color:red;
    
}

.contenedorPublicidad {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 0;
    height: 100%;
    

}

.contenedorPublicidad h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.Publicidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.imagenPublicidad {
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logoWhatsApp {
    width: 120px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}





header {
    grid-area: header;
}

nav {
    grid-area: nav;
}


footer {
    grid-area: footer;
}

.banner {
    grid-area: banner;
}

.contenedorNoticias {
    grid-area: sectionA;
}

.contenedorPublicidad{
    grid-area: sectionB;
}

.contenedor {
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "banner banner banner"
    "sectionA sectionA sectionB"
    "sectionA sectionA sectionB"
    "footer footer footer"
    ;
}
